

<ng-template #form let-item="item">
  <ng-container *ngTemplateOutlet="mainTemplate?.defaultIdStatusTitleForm;context:{item:item}"></ng-container>

  <form [nzLayout]="'horizontal'" nz-form [formGroup]="item">
    <div nz-row>
      <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="3">  دسته بندی والد</nz-form-label>
      <div nz-col [nzXs]="24" [nzSm]="18" [nzMd]="9">
        <nz-form-item>
          <nz-form-control>
            <nz-tree-select [nzNodes]="dataManager.ViewRecords"
                            nzShowSearch
                            nzPlaceHolder="لطفا دسته بندی والد را انتخاب نمایید"
                            formControlName="ParentCategoryId">
            </nz-tree-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="3">  اولویت</nz-form-label>
      <div nz-col [nzXs]="24" [nzSm]="18" [nzMd]="9">
        <nz-form-item>
          <nz-form-control>
            <input nz-input formControlName="Priority"  nzPlaceHolder="لطفا اولویت را انتخاب نمایید"/>

          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>


</ng-template>

<ng-template #viewMessage>
  آیدی: 012331323
</ng-template>
<ng-template #search>





</ng-template>


<ng-template #treeBody let-item="item">
  <nz-tag [nzColor]="'#f50'">{{ item.Id }}</nz-tag>
  <nz-tag [nzColor]="'#130fffc9'">{{ item.Priority }}</nz-tag>
  {{ item.Title }}
  <ng-container *ngTemplateOutlet="mainTemplate?.statusView;context:{value:statusView(item.Status)}"></ng-container>
  {{ item.Create_}}
</ng-template>




<app-template #mainTemplate *ngIf="ok" [com]="this"></app-template>

