<section>

  <div class="container px-xl-0 px-md-0 px-0">

    <div class="row my-3 mx-auto">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12 pl-xl-0 pl-md-0 pr-xl-1 pr-md-1 px-2">
          <div class="card">
            <div class="card-body brands">
              <h4 class="brand-t brand-title">درباره ما</h4>
              <p class="text-justify">
                سامسونگ (به کره‌ای: 삼성) ( لاتین‌نویسی‌شده به‌صورت Samsung، تلفظ به صورت کشیده همانند «سوپ») یک ابرشرکت چندملیتی و خوشه‌ای واقع در سئول، کره جنوبی است. سامسونگ مالک چندین شرکت تابعه و زیرمجموعه در صنایع مختلف است که برای نمونه می‌توان به سامسونگ الکترونیک، سامسونگ لایف و سامسونگ فایر، صنایع سنگین سامسونگو سامسونگ سی‌اندتی اشاره کرد.

                گروه سامسونگ در سال ۱۹۳۸ توسط لی بیونگ-چول، به‌عنوان یک شرکت بازرگانی تأسیس شد. این شرکت در طول ۳ دهه نخست، فعالیت‌های خود را در حوزه‌های ارائه خدمات مالی و بیمه، مبادلات اوراق بهادار و خرده‌فروشی توسعه داد و در اواخر دهه ۱۹۶۰ وارد عرصه تجارت الکترونیک گردید و در اواسط دهه ۱۹۷۰ نیز به صنایع کشتی‌سازی وارد شد.

                پس از درگذشت لی بیونگ-چول، در سال ۱۹۸۷ شرکت سامسونگ به چهار گروه مستقل به‌نام‌های گروه سامسونگ، گروه شینسگائه، گروه سی‌جی و گروه هانسول تفکیک شد. در حال حاضر دفتر مرکزی این شرکت در شهر سامسونگ، سئول قرار دارد و بخشی از سهام آن در بازار بورس نیویورک معامله می‌شود.
              </p>
              <img src="" alt="">

            </div>
          </div>
        </div>
    </div>

  </div>

</section>
