<div class="container p-0">

  <div class="row mt-3" style=" padding:0px 10px 15px 0px;">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
      <div id="jssor_1" style="position: relative; margin: 0px auto; top: 0px; left: 0px; height: 280px; overflow: hidden; visibility: visible; width: 710px;" data-jssor-slider="1">
        <!-- Loading Screen -->

        <div style="position: absolute; display: block; top: 0px; right: 0px; left: 0px; width: 1200px; height: 380px;">
          <div style="position: absolute; display: block; top: 0px; right: 0px; left: 0px; width: 1200px; height: 380px;">
            <div class="slider_slides" data-u="slides" style="cursor: default; position: absolute; top: 0px; left: 0px; width: 1200px; height: 380px; overflow: hidden; margin: 0px; padding: 0px; transform-style: flat; z-index: 0; pointer-events: none;"><div style="top: 0px; left: 0px; width: 1200px; height: 380px; position: absolute; z-index: 0; display: none;"></div></div><div class="slider_slides" data-u="slides" style="cursor: default; position: absolute; top: 0px; left: 0px; width: 1200px; height: 380px; overflow: hidden; margin: 0px; padding: 0px; transform-style: flat; z-index: 0;">
              <div style="top: 0px; left: -1200px; width: 1200px; height: 380px; position: absolute; overflow: hidden; transform-style: flat; z-index: 1;">
                <div style="top: 0px; left: 0px; width: 1200px; height: 380px; position: absolute; display: block; overflow: hidden; background-color: rgba(0, 0, 0, 0); background-image: none;"><img data-u="image" src="assets/img/slider-img/001.jpg" border="0" style="top: 0px; left: 0px; width: 1200px; height: 380px; position: absolute; display: block; max-width: 10000px; z-index: 1;" data-events="auto" data-display="block" alt="slider-img/001"></div><div style="top: 0px; left: 0px; width: 1200px; height: 380px; position: absolute; display: block; transform-style: preserve-3d; z-index: 1;" data-events="auto" data-display="block">
                  <a href="" data-events="auto" data-display="inline" style="z-index: 1; top: 0px; left: 0px; width: 1200px; height: 380px; position: absolute; display: block;"></a>
                </div>
              </div>
              <div style="top: 0px; left: -1200px; width: 1200px; height: 380px; position: absolute; overflow: hidden; transform-style: flat; z-index: 1;">
                <div style="top: 0px; left: 0px; width: 1200px; height: 380px; position: absolute; display: block; overflow: hidden; background-color: rgba(0, 0, 0, 0); background-image: none;"><img data-u="image" src="assets/img/slider-img/002.jpg" border="0" style="top: 0px; left: 0px; width: 1200px; height: 380px; position: absolute; display: block; max-width: 10000px; z-index: 1;" data-events="auto" data-display="block" alt="slider-img/002"></div><div style="top: 0px; left: 0px; width: 1200px; height: 380px; position: absolute; display: block; transform-style: preserve-3d; z-index: 1;" data-events="auto" data-display="block">
                  <a href="" data-events="auto" data-display="inline" style="z-index: 1; top: 0px; left: 0px; width: 1200px; height: 380px; position: absolute; display: block;"></a>
                </div>
              </div>
              <div style="top: 0px; left: -1200px; width: 1200px; height: 380px; position: absolute; overflow: hidden; transform-style: flat; z-index: 1;">
                <div style="top: 0px; left: 0px; width: 1200px; height: 380px; position: absolute; display: block; overflow: hidden; background-color: rgba(0, 0, 0, 0); background-image: none;"><img data-u="image" src="assets/img/slider-img/003.jpg" border="0" style="top: 0px; left: 0px; width: 1200px; height: 380px; position: absolute; display: block; max-width: 10000px; z-index: 1;" data-events="auto" data-display="block" alt="slider-img/003"></div><div style="top: 0px; left: 0px; width: 1200px; height: 380px; position: absolute; display: block; transform-style: preserve-3d; z-index: 1;" data-events="auto" data-display="block">
                  <a href="" data-events="auto" data-display="inline" style="z-index: 1; top: 0px; left: 0px; width: 1200px; height: 380px; position: absolute; display: block;"></a>
                </div>
              </div>
              <div style="top: 0px; left: -1200px; width: 1200px; height: 380px; position: absolute; overflow: hidden; transform-style: flat; z-index: 1;">
                <div style="top: 0px; left: 0px; width: 1200px; height: 380px; position: absolute; display: block; overflow: hidden; background-color: rgba(0, 0, 0, 0); background-image: none;"><img data-u="image" src="assets/img/slider-img/004.jpg" border="0" style="top: 0px; left: 0px; width: 1200px; height: 380px; position: absolute; display: block; max-width: 10000px; z-index: 1;" data-events="auto" data-display="block" alt="slider-img/004"></div><div style="top: 0px; left: 0px; width: 1200px; height: 380px; position: absolute; display: block; transform-style: preserve-3d; z-index: 1;" data-events="auto" data-display="block">
                  <a href="" data-events="auto" data-display="inline" style="z-index: 1; top: 0px; left: 0px; width: 1200px; height: 380px; position: absolute; display: block;"></a>
                </div>
              </div>
              <div style="top: 0px; left: -1200px; width: 1200px; height: 380px; position: absolute; overflow: hidden; transform-style: flat; z-index: 1;">
                <div style="top: 0px; left: 0px; width: 1200px; height: 380px; position: absolute; display: block; overflow: hidden; background-color: rgba(0, 0, 0, 0); background-image: none;"><img data-u="image" src="assets/img/slider-img/005.jpg" border="0" style="top: 0px; left: 0px; width: 1200px; height: 380px; position: absolute; display: block; max-width: 10000px; z-index: 1;" data-events="auto" data-display="block" alt="slider-img/005"></div><div style="top: 0px; left: 0px; width: 1200px; height: 380px; position: absolute; display: block; transform-style: preserve-3d; z-index: 1;" data-events="auto" data-display="block">
                  <a href="" data-events="auto" data-display="inline" style="z-index: 1; top: 0px; left: 0px; width: 1200px; height: 380px; position: absolute; display: block;"></a>
                </div>
              </div>
              <div style="top: 0px; left: 0px; width: 1200px; height: 380px; position: absolute; overflow: hidden; transform-style: flat; z-index: 1;">
                <div style="top: 0px; left: 0px; width: 1200px; height: 380px; position: absolute; display: block; overflow: hidden; background-color: rgba(0, 0, 0, 0); background-image: none;"><img data-u="image" src="assets/img/slider-img/006.jpg" border="0" style="top: 0px; left: 0px; width: 1200px; height: 380px; position: absolute; display: block; max-width: 10000px; z-index: 1;" data-events="auto" data-display="block" alt="slider-img/006"></div><div style="top: 0px; left: 0px; width: 1200px; height: 380px; position: absolute; display: block; transform-style: preserve-3d; z-index: 1;" data-events="auto" data-display="block">
                  <a href="" data-events="auto" data-display="inline" style="z-index: 1; top: 0px; left: 0px; width: 1200px; height: 380px; position: absolute; display: block;"></a>
                </div>
              </div>
              <div style="top: 0px; left: 1200px; width: 1200px; height: 380px; position: absolute; overflow: hidden; transform-style: flat; z-index: 1;">
                <div style="top: 0px; left: 0px; width: 1200px; height: 380px; position: absolute; display: block; overflow: hidden; background-color: rgba(0, 0, 0, 0); background-image: none;"><img data-u="image" src="assets/img/slider-img/007.jpg" border="0" style="top: 0px; left: 0px; width: 1200px; height: 380px; position: absolute; display: block; max-width: 10000px; z-index: 1;" data-events="auto" data-display="block" alt="slider-img/007"></div><div style="top: 0px; left: 0px; width: 1200px; height: 380px; position: absolute; display: block; transform-style: preserve-3d; z-index: 1;" data-events="auto" data-display="block">
                  <a href="" data-events="auto" data-display="inline" style="z-index: 1; top: 0px; left: 0px; width: 1200px; height: 380px; position: absolute; display: block;"></a>
                </div>
              </div>
              <div style="top: 0px; left: -1200px; width: 1200px; height: 380px; position: absolute; overflow: hidden; transform-style: flat; z-index: 1;">
                <div style="top: 0px; left: 0px; width: 1200px; height: 380px; position: absolute; display: block; overflow: hidden; background-color: rgba(0, 0, 0, 0); background-image: none;"><img data-u="image" src="assets/img/slider-img/008.jpg" border="0" style="top: 0px; left: 0px; width: 1200px; height: 380px; position: absolute; display: block; max-width: 10000px; z-index: 1;" data-events="auto" data-display="block" alt="slider-img/008"></div><div data-events="auto" data-display="block" style="top: 0px; left: 0px; width: 1200px; height: 380px; position: absolute; display: block; transform-style: preserve-3d; z-index: 1;">
                  <a href="" data-events="auto" data-display="inline" style="z-index: 1; top: 0px; left: 0px; width: 1200px; height: 380px; position: absolute; display: block;"></a>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- Bullet Navigator -->
        <!--<div data-u="navigator" class="jssorb051" style="position:absolute;bottom:12px;right:12px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">-->
        <!--<div data-u="prototype" class="i" style="width:16px;height:16px;">-->
        <!--<svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">-->
        <!--<circle class="b" cx="8000" cy="8000" r="5800"></circle>-->
        <!--</svg>-->
        <!--</div>-->
        <!--</div>-->
        <!-- Arrow Navigator -->
        <div style="position: absolute; display: block; top: 112.5px; left: 25px; width: 55px; height: 55px;">
          <div data-u="arrowleft" class="jssora051 jssor-left" style="width: 55px; height: 55px; top: 0px; left: 0px;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75" data-jssor-button="1" data-nofreeze="1">
            <!--<svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">-->
            <!--<polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>-->
            <!--</svg>-->
            <svg class="svg-inline--fa fa-angle-left fa-w-8" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-left" role="assets/img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"></path></svg><!-- <i class="fas fa-angle-left"></i> -->
          </div>
        </div>
        <div style="position: absolute; display: block; top: 112.5px; right: 25px; width: 55px; height: 55px;">
          <div data-u="arrowright" class="jssora051 jssor-right" style="width: 55px; height: 55px; top: 0px; right: 25px; left: 0px;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75" data-jssor-button="1" data-nofreeze="1">
            <!--<svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">-->
            <!--<polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>-->
            <!--</svg>-->
            <svg class="svg-inline--fa fa-angle-right fa-w-8" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="assets/img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg><!-- <i class="fas fa-angle-right"></i> -->
          </div>
        </div>
      </div>
      <script type="text/javascript">
                    jssor_۱_slider_init();
      </script>

    </div>

  </div>

  <div class="row advertising">
    <div class="col-xl-6 col-lg-6 col-md-6 col-12 px-2">
      <div class="card">
        <div class="card-body p-0 text-center">
          <a href="">
            <img src="assets/img/" alt="" class="assets/img-fluid">
          </a>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-6 col-12 px-2 pl-xl-0">
      <div class="card">
        <div class="card-body p-0 text-center">
          <a href="">
            <img src="assets/img/" alt="" class="assets/img-fluid">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="products ml-xl-0 mx-2">
    <div class="row mx-0">

      <div class="col-xl-4 col-lg-6 col-md-6 col-12">
        <div class="d-xl-flex d-lg-flex d-md-flex py-3">
          <div class="col-xl-6 col-lg-6 col-md-6 col-12 text-right pr-0 pl-2">
            <h6 class="title-product">
              <a href="productDetails.html">
                تیتر کالا
              </a>
            </h6>

            <hr>
            <a href="shop.html">
              <span class="shop-name">
                فروشگاه اطلس نگار
              </span>
            </a>

            <br>
            <br>

            <h6 class="my-0">قیمت</h6>
            <hr>

            <span>با تخفیف</span>&nbsp;
            <div class="product-pricee">
              <span class="price text-left">۳۰,۰۰۰</span>
              <span>تومان</span>
            </div>

            <hr>

            &nbsp;
            <div class="product-pricee" style="color:red;text-decoration:line-through">
              <p class="text-left">
                <span class="price">۲۹,۰۰۰</span> تومان
              </p>
            </div>
            <hr>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6 col-12 px-0">
            <a href="productDetails.html">
              <img src="assets/img/AndroidPIT-samsung-galaxy-s10-plus.jpg" class="rounded img-fluid" alt="AndroidPIT-samsung-galaxy-s10-plus">
            </a>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-6 col-12">
        <div class="d-xl-flex d-lg-flex d-md-flex py-3">
          <div class="col-xl-6 col-lg-6 col-md-6 col-12 text-right pr-0 pl-2">
            <h6 class="title-product">
              <a href="productDetails.html">
                تیتر کالا
              </a>
            </h6>

            <hr>
            <a href="shop.html">
              <span class="shop-name">
                فروشگاه اطلس نگار
              </span>
            </a>

            <br>
            <br>

            <h6 class="my-0">قیمت</h6>
            <hr>

            <span>با تخفیف</span>&nbsp;
            <div class="product-pricee">
              <span class="price text-left">۳۰,۰۰۰</span>
              <span>تومان</span>
            </div>

            <hr>

            &nbsp;
            <div class="product-pricee" style="color:red;text-decoration:line-through">
              <p class="text-left">
                <span class="price">۲۹,۰۰۰</span> تومان
              </p>
            </div>
            <hr>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6 col-12 px-0">
            <a href="productDetails.html">
              <img src="assets/img/AndroidPIT-samsung-galaxy-s10-plus.jpg" class="rounded img-fluid" alt="AndroidPIT-samsung-galaxy-s10-plus">
            </a>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-6 col-12">
        <div class="d-xl-flex d-lg-flex d-md-flex py-3">
          <div class="col-xl-6 col-lg-6 col-md-6 col-12 text-right pr-0 pl-2">
            <h6 class="title-product">
              <a href="productDetails.html">
                تیتر کالا
              </a>
            </h6>

            <hr>
            <a href="shop.html">
              <span class="shop-name">
                فروشگاه اطلس نگار
              </span>
            </a>

            <br>
            <br>

            <h6 class="my-0">قیمت</h6>
            <hr>

            <span>با تخفیف</span>&nbsp;
            <div class="product-pricee">
              <span class="price text-left">۳۰,۰۰۰</span>
              <span>تومان</span>
            </div>

            <hr>

            &nbsp;
            <div class="product-pricee" style="color:red;text-decoration:line-through">
              <p class="text-left">
                <span class="price">۲۹,۰۰۰</span> تومان
              </p>
            </div>
            <hr>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6 col-12 px-0">
            <a href="productDetails.html">
              <img src="assets/img/AndroidPIT-samsung-galaxy-s10-plus.jpg" class="rounded img-fluid" alt="AndroidPIT-samsung-galaxy-s10-plus">
            </a>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-6 col-12">
        <div class="d-xl-flex d-lg-flex d-md-flex py-3">
          <div class="col-xl-6 col-lg-6 col-md-6 col-12 text-right pr-0 pl-2">
            <h6 class="title-product">
              <a href="productDetails.html">
                تیتر کالا
              </a>
            </h6>

            <hr>
            <a href="shop.html">
              <span class="shop-name">
                فروشگاه اطلس نگار
              </span>
            </a>

            <br>
            <br>

            <h6 class="my-0">قیمت</h6>
            <hr>

            <span>با تخفیف</span>&nbsp;
            <div class="product-pricee">
              <span class="price text-left">۳۰,۰۰۰</span>
              <span>تومان</span>
            </div>

            <hr>

            &nbsp;
            <div class="product-pricee" style="color:red;text-decoration:line-through">
              <p class="text-left">
                <span class="price">۲۹,۰۰۰</span> تومان
              </p>
            </div>
            <hr>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6 col-12 px-0">
            <a href="productDetails.html">
              <img src="assets/img/AndroidPIT-samsung-galaxy-s10-plus.jpg" class="rounded img-fluid" alt="AndroidPIT-samsung-galaxy-s10-plus">
            </a>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-6 col-12">
        <div class="d-xl-flex d-lg-flex d-md-flex py-3">
          <div class="col-xl-6 col-lg-6 col-md-6 col-12 text-right pr-0 pl-2">
            <h6 class="title-product">
              <a href="productDetails.html">
                تیتر کالا
              </a>
            </h6>

            <hr>
            <a href="shop.html">
              <span class="shop-name">
                فروشگاه اطلس نگار
              </span>
            </a>

            <br>
            <br>

            <h6 class="my-0">قیمت</h6>
            <hr>

            <span>با تخفیف</span>&nbsp;
            <div class="product-pricee">
              <span class="price text-left">۳۰,۰۰۰</span>
              <span>تومان</span>
            </div>

            <hr>

            &nbsp;
            <div class="product-pricee" style="color:red;text-decoration:line-through">
              <p class="text-left">
                <span class="price">۲۹,۰۰۰</span> تومان
              </p>
            </div>
            <hr>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6 col-12 px-0">
            <a href="productDetails.html">
              <img src="assets/img/AndroidPIT-samsung-galaxy-s10-plus.jpg" class="rounded img-fluid" alt="AndroidPIT-samsung-galaxy-s10-plus">
            </a>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-6 col-12">
        <div class="d-xl-flex d-lg-flex d-md-flex py-3">
          <div class="col-xl-6 col-lg-6 col-md-6 col-12 text-right pr-0 pl-2">
            <h6 class="title-product">
              <a href="productDetails.html">
                تیتر کالا
              </a>
            </h6>

            <hr>
            <a href="shop.html">
              <span class="shop-name">
                فروشگاه اطلس نگار
              </span>
            </a>

            <br>
            <br>

            <h6 class="my-0">قیمت</h6>
            <hr>

            <span>با تخفیف</span>&nbsp;
            <div class="product-pricee">
              <span class="price text-left">۳۰,۰۰۰</span>
              <span>تومان</span>
            </div>

            <hr>

            &nbsp;
            <div class="product-pricee" style="color:red;text-decoration:line-through">
              <p class="text-left">
                <span class="price">۲۹,۰۰۰</span> تومان
              </p>
            </div>
            <hr>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6 col-12 px-0">
            <a href="productDetails.html">
              <img src="assets/img/AndroidPIT-samsung-galaxy-s10-plus.jpg" class="rounded img-fluid" alt="AndroidPIT-samsung-galaxy-s10-plus">
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
