<section>
  <div class="pagination-container container px-xl-0 px-md-0 px-2">

    <div class="row my-3 py-2 mx-1 subMenu">
      <div class="col-xl-6 col-lg-6 col-md-12 col-12 pl-xl-0 pl-md-0 subMenu-right">
        <a href="index.html"><span class="px-1">نام سایت </span></a>
        <i class="fa fa-angle-left route"></i>
        <ng-container *ngFor="let item of bread">
          <i class="fa fa-angle-left route"></i>
          <a [routerLink]="['/products/'+item.Id]"><span class="px-1"> {{item.Title}}  </span></a>
        </ng-container>
      </div>

      <div class="col-xl-6 col-lg-6 col-md-12 col-12 pr-xl-0 pr-md-0 subMenu-left">
        <div class="row">
          <small class="pl-3 pt-1 orderingTitle">مرتب سازی براساس :</small>
          <a (click)="orderBy(1)" [class.active]="order == 1" class="ordering"><span class=""> ارزان ترین </span></a>
          <a (click)="orderBy(2)" [class.active]="order == 2" class="ordering"><span class="pr-3"> گران ترین </span></a>
          <a (click)="orderBy(3)" [class.active]="order == 3" class="ordering"><span class="pr-3"> جدیدترین </span></a>
          <a (click)="orderBy(4)" [class.active]="order == 4" class="ordering"><span class="pr-3"> پر بازدیدترین </span></a>
        </div>
      </div>

    </div>
  </div>

  <div class="pagination-container container px-xl-0 px-md-0 px-2">


    <div class="paginationTable my-3" id="">

      <!--page 1 start-->
      <div class="tableItem product-group">

        <div class="row content ">


          <div *ngFor="let item of products" class="col-xl-6 col-lg-6 col-md-12 col-12 product-div d-xl-flex d-lg-flex d-md-flex d-sm-inline-block py-3">

            <div class="col-xl-8 col-lg-8 col-md-8 col-12 text-right">

              <div class="row">
                <div class="col-xl-7 col-lg-12 col-md-12 col-12 px-0">
                  <h6 class="title-product">
                    <a [routerLink]="['/product/' + item.Id]">
                      {{item.Title}}
                    </a>
                  </h6>
                </div>
                <div class="col-xl-5 col-lg-12 col-md-12 col-12 px-0 shop-name-product">
                  <a >
                  </a>
                </div>
              </div>

              <div class="hr"></div>

              <span class="product-description">
                {{item.Description}}

              </span>
              <br>
              <br>

              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 pr-0">
                  <span class="">قیمت با تخفیف</span>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 text-left">
                  <span class="price">
                    {{item.PriceWithDiscount | number}}
                    <span>تومان</span>
                  </span>
                </div>
              </div>


              <div class="hr"></div>


              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 pr-0">
                  <span class="">قیمت</span>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 text-left" style='color:red;text-decoration:line-through'>
                  <span class="price">
                    {{item.Price | number}}
                    <span>تومان</span>
                  </span>
                </div>
              </div>

              <div class="hr pb-2"></div>

            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-12 product-picture px-0">
              <a href="productDetails.html">
                <img [src]="item.Image" class="rounded img-fluid" alt="">
              </a>
            </div>

          </div>
           


        </div>

         

         

      </div>

      <!--Advertising-->
      <div class="tableItem row mx-1 pt-3 content advertising">

        <div class="col-xl-6 col-lg-6 col-md-6 col-12 pl-lg-2 pl-md-2 pr-0 pl-0">
          <div class="card">
            <div class="card-body p-0 text-center">
              <a href="">
                <img src="img/" alt="باکس تبلیغات" class="img-fluid">
              </a>
            </div>
          </div>
        </div>
      </div>
 


    </div>

 



     


  </div>


</section>
