<section>

  <div class="container px-xl-0 px-md-0 px-0">

    <div class="row my-3 mx-auto">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12 pl-xl-0 pl-md-0 pr-xl-1 pr-md-1 px-2">
          <div class="card">
            <div class="card-body brands">
              <h4 class="brand-t brand-title">قوانین سایت</h4>

              <br>
              <h6>
                کاربر گرامی ضمن تشکر از انتخاب این سايت به اطلاع می رساند استفاده از ‌این سایت به معنی توافق کامل شما با قوانین مندرج در اين صفحه می‌باشد.
              </h6>
              <br>
              <ul class="rules-ul">
                <li>
                  این سایت متعهّد به رعایت کلیه اصول و رویه‏‌های اخلاقی منطبق با قوانین جمهوری اسلامی ایران، قانون حمایت از حقوق مصرف کنندگان و قانون تجارت الکترونیک در قبال کاربران خود می باشد.

                </li>

                <li>
                  در صورت ایجاد هرگونه تغییر در قوانین مندرج، رویه‏‌ها و شرایط ارائه خدمات در آینده، موارد مربوطه در همین صفحه اطلاع رسانی می گردد. استفاده ی مستمر کاربر از سایت به معنی پذیرش هرگونه تغییر در این قوانین، از سوی این سایت می باشد.

                </li>

                <li>
                  کاربر سایت با ثبت نام و استفاده از خدمات روبان موافقت خود را با تمام قوانین سایت اعلام کرده است لذا حق هرگونه شکایت و اقدام قانونی را در خصوص فعالیت های سایت از خود سلب می نماید.

                </li>

                <li>
                  استفاده از کلمات مناسب جهت استفاده در ایمیل در هنگام ثبت نام در سايت الزامی است. در صورت مشاهده کلمات رکيک و نامناسب، روبان می تواند نسبت به حذف حساب كاربر و قطع دسترسي وي به امکانات سایت اقدام نماید.

                </li>

                <li>
                  - استفاده از کلمات مناسب در هنگام ارسال نظرات در سایت الزامی است.

                </li>

                <li>
                  احترام به قوانين جمهوري اسلامي ایران و عدم نوشتن هرگونه مسايل مربوط به سياست در هنگام ارسال نظرات در سایت الزامی است. در صورت مشاهده موارد مربوطه دسترسي كاربر به سایت براي هميشه قطع خواهد شد.

                </li>

                <li>
                  کاربر موظف به حفاظت از اطلاعات حساب کاربری خویش است و مسئولیت تبادل هرگونه اطلاعات از طریق ایمیل کاربر و رمز عبور بر عهده کاربر می باشد.

                </li>

                <li>
                  در خصوص افشای اطلاعات کاربر در اثر قصور و یا ویروسی شدن سیستم رایانه وی مسئولیتی بر عهده این سایت نیست.

                </li>

                <li>
                  کاربر موظف به تکمیل فرم سفارش با اطلاعات صحیح و کامل است. در صورت ورود اطلاعات ناقص یا نادرست، سفارش کاربر قابل پیگیری و تحویل نخواهد بود.

                </li>

                <li>
                  استفاده کاربر از این سایت به‌ نحوی که باعث آسيب، از کار انداختن يا ایجاد عیب در سایت شود ممنوع است. کاربر مجاز به دسترسی يا تلاش برای دسترسی به محتوایی که بنا به تشخیص این سایت خارج از دسترس است یا ارائه نشده ‌نمی باشد.

                </li>

                <li>
                  این سایت در رابطه با حذف شدن صفحه‏‌های سایت خود و یا لینک‏‌های مرده مسئولیتی ندارد.

                </li>

                <li>
                  این سایت مجاز به توقف سفارش‌‏گیری جدید و فروش بدون اطلاع قبلی است. در اینصورت تمامی سفارش‌‏های ثبت شده قبل از توقف سفارش‌‏گیری، پردازش و ارسال خواهند شد.
                </li>

                <li>
                  کلیه محتوای این سایت صرفاً متعلق به شرکت ... می باشد. هرگونه کپی برداری و استفاده شخصی یا تجاری از محتوای این سایت بدون کسب مجوز مکتوب از شرکت ... غیر مجاز است و پیگرد قانونی به همراه خواهد داشت.

                </li>

              </ul>

              <img src="" alt="">

            </div>
          </div>
        </div>
    </div>

  </div>

</section>
