<section id="contactus">

  <div class="container mt-4  pl-xl-0 px-md-2 px-2">


    <div class="card">
      <div class="card-body brands">

        <div class="row my-5">
          <h2 class="mx-auto">تماس با ما</h2>
        </div>

        <div class="row my-3 contact">

          <div class="col-xl-6 col-lg-6 col-md-12 col-12 col-right-contact">

            <div class="row">
              <div class="col-xl-2 col-lg-2 col-md-1 col-2 text-left float-right">
                <img src="assets/img//contactus/address (1).png" height="37" width="40" alt="tent/Themes/mobilestore/img/contactus/address (1)">
              </div>
              <div class="col-xl-10 col-lg-10 col-md-11 col-10 float-right cont-box">
                آدرس : <span class="ng-binding">
                  تهران-خیابان نجات الهی کوچه چهارم - پلاک ۳ واحد ۲۴
                </span>
              </div>
            </div>

            <div class="row">
              <div class="col-xl-2 col-lg-2 col-md-1 col-2 text-left float-right">
                <img src="assets/img//contactus/email_PNG11.png" height="40" width="40" alt="tent/Themes/mobilestore/img/contactus/email_PNG11">
              </div>
              <div class="col-xl-10 col-lg-10 col-md-11 col-10 float-right cont-box"><a href="mailto:slictoiran@gamil.com" target="_blank">ایمیل : <span class="">slictoiran@gamil.com</span></a></div>
            </div>

            <div class="row">
              <div class="col-xl-2 col-lg-2 col-md-1 col-2 text-left float-right">
                <img src="assets/img//contactus/Telephone-PNG-Photos.png" height="40" width="40" alt="tent/Themes/mobilestore/img/contactus/Telephone-PNG-Photos">
              </div>
              <div class="col-xl-10 col-lg-10 col-md-11 col-10 float-right cont-box">
                شماره تماس  :
                <a href="tel:09351404179"><span class="">۰۹۳۵۱۴۰۴۱۷۹</span></a>
              </div>
            </div>

            <div class="row">
              <div class="col-xl-2 col-lg-2 col-md-1 col-2 text-left float-right">
                <img src="assets/img//contactus/telegram-512.png" width="40" height="40" alt="tent/Themes/mobilestore/img/contactus/telegram-512">
              </div>
              <div class="col-xl-10 col-lg-10 col-md-11 col-10 float-right cont-box"><a href="https://t.me/slictoir">تلگرام : <span class="">slictoir</span></a></div>
            </div>

            <div class="row">
              <div class="col-xl-2 col-lg-2 col-md-1 col-2 text-left float-right">
                <img src="assets/img//contactus/instagram_PNG11.png" width="40" height="40" alt="tent/Themes/mobilestore/img/contactus/instagram_PNG11">
              </div>
              <div class="col-xl-10 col-lg-10 col-md-11 col-10 float-right cont-box"><a href="https://www.instagram.com/slicto.ir/">اینستاگرام : <span class="">slicto.ir</span></a></div>
            </div>


          </div>

          <div class="col-xl-6 col-lg-6 col-md-12 col-12 my-auto col-left-contact">
            <img src="assets/img/nav-pic.jpg" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </div>

  </div>

</section>
